body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.containerAll {
  display: grid;
  gap: 1rem;
  max-width: 960px;
  margin: 0 auto;
}
.searchMoviesTxt {
  font-weight: bold;
  padding: 10px;
  margin-right: auto;
}
.list {
  display: grid;
  gap: 1rem;
  margin: 0 10px;
}
.divList {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  border-radius: 8px;
  padding: 16px;
}
.listLeftColumn {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.listCenterColumn {
  width: 45%;
  margin-left: 5%;
  display: flex;
  justify-content: left;
  align-items: end;
}
.listRightColumn {
  width: 25%;
  display: flex;
  justify-content: right;
  align-items: center;
}
.titleType {
  margin-bottom: 10px;
  margin-right: 8px;
  font-weight: bold;
}
@media only screen and (max-width: 639px) {
  .containerAll {
    display: grid;
    gap: 1rem;
    grid-auto-columns: 1fr;
    margin: 0 auto;
  }
  .list {
    display: grid;
    gap: 1rem;
    height: 300px;
    margin: 0 20px;
  }
  .searchMoviesTxt {
    display: grid;
    gap: 1rem;
    margin: 0 20px;
    padding: 0px;
  }
  .divList {
    display: grid;
    /* gap: 16px; */
    grid-auto-columns: 1fr;
  }
  .listLeftColumn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: left;
    flex-direction: column;
  }
  .listCenterColumn {
    margin-left: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: start;
    margin-bottom: 70px;
  }
  .listRightColumn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
  }
  .titleType {
    align-self: flex-start;
    margin-bottom: 30px;
  }
  .authorType {
    align-self: flex-start;
  }
}
