body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
}
.containerFlex {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: space-between;
  flex-direction: column;
}
p.first {
  /* text-align: left; */
  /* position: absolute;
  left: 22%; */
  font-weight: bold;
  /* margin: 20px; */
}
.positionFirst {
  border-radius: 10px;
  width: 900px;
  height: 64px;
  border: 3px solid black;
  position: absolute;
  top: 20%;
  margin: 10px;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -180%);
  background-color: transparent;
}
.displayGrid {
  color: black;
  position: relative;
  top: 15%;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 90px 5px 90px 90px 90px 85px 5px 90px 90px 90px 85px 5px 85px;
  grid-template-rows: 20px 15px 20px;
}

@media only screen and (max-width: 1200px) {
  .positionFirst {
    background-color: lightblue;
    top: 40%;
  }
  .pText {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 9%;
    top: 5%;
    /* background-color: blue; */
  }
  p.first {
    font-weight: bold;
  }
}
@media only screen and (max-width: 1024px) {
  .positionFirst {
    width: 450px;
    height: 180px;
    background-color: aqua;
    top: 35%;
  }
  .pText {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 28%;
    top: 2%;
    /* background-color: violet; */
  }
  .displayGrid {
    grid-template-columns: 45px 5px 85px 5px 45px 45px 5px 45px 45px 45px 45px 5px 45px;
    grid-template-rows: 20px 15px 20px;
  }
  .positionTitle {
    justify-self: start;
    align-self: center;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: transparent;
  }
  .positionTitleType {
    justify-self: end;
    align-self: center;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
  /* .positionAuthor {
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 60px 30px 60px;
  } */
}
@media only screen and (max-width: 768px) {
  .positionFirst {
    width: 450px;
    height: 120px;
    background-color: red;
  }
  .pText {
    width: 200px;
    height: 40px;
    position: absolute;
    left: 19%;
    top: 2%;
    /* background-color: violet; */
  }
}
@media only screen and (max-width: 480px) {
  .positionFirst {
    width: 280px;
    height: 360px;
    background-color: yellow;
    top: 110%;
  }
  .displayGrid {
    grid-template-columns: 1fr 1fr 100px 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 100px 1fr;
  }
  .positionTitleType {
    justify-self: center;
    align-self: center;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: transparent;
    margin: 0;
    padding: 0;
  }
}
.positionGenres {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 8;
  grid-column-end: 8;
  justify-self: start;
  align-self: end;
  background-color: transparent;
}
.positionGenresType {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 6;
  grid-column-end: 6;
  justify-self: end;
  align-self: end;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.positionRating {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 13;
  grid-column-end: 13;
  justify-self: start;
  text-align: center;
  background-color: transparent;
}
.positionRatingType {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 11;
  grid-column-end: 11;
  justify-self: end;
  text-align: center;
  background-color: transparent;
  margin: 0;
  padding: 0;
}

.positionAuthor {
  justify-self: start;
  align-self: center;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 3;
  background-color: transparent;
}
.positionAuthorType {
  justify-self: end;
  align-self: center;
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 1;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.positionTitle {
  justify-self: start;
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 3;
  grid-column-end: 3;
  background-color: transparent;
}
.positionTitleType {
  justify-self: end;
  align-self: center;
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
  background-color: transparent;
  margin: 0;
  padding: 0;
}
