body {
  box-sizing: border-box;
  width: 100vw;
  display: flex;
  align-content: center;
  justify-content: center;
}
.container {
  background-color: blue;
}
.addClass {
  color: black;
  background-color: white;
  width: 50vw;
  height: 10vh;
  margin: 10px;
  position: relative;
  border-radius: 10px;
}
.newPClass {
  position: absolute;
  top: 20%;
  left: 50%;
  color: yellow;
}
